!!!
%html
  %head
    %title CoffeCam
    = stylesheets
    = javascripts :jquery
    = javascripts :sylvester
    = javascripts :common
    = javascripts :scene
    = javascripts :controller
    = javascripts :site
  %body
    = yield
