!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title CoffeCam
    = stylesheets
    = javascripts :jquery
    = javascripts :sylvester
    = javascripts :common
    = javascripts :camera
    = javascripts :sphere
    = javascripts :scene
    = javascripts :controller
    = javascripts :site
  %body
    = yield
