!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title CoffeCam
    = stylesheets
    = javascripts 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
    = javascripts :sylvester
    = javascripts :common
    = javascripts :scene
    = javascripts :camera
    = javascripts :controller
    = javascripts :site
  %body
    = yield
